<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
  <meta name="description" content="时来运来免费在线算命，占卜，八字，生辰八字，生男生女预测，日干，称骨，黄历，生肖，姓名，星座，黄道吉日，恋爱预测，恋爱测算，
  星座运势，抽签，眼皮跳，指纹算命"/>
  <meta name="keywords" content="时来运来,免费在线算命，占卜，八字，日干，称骨，黄历，生肖，姓名，星座"/>
<title>时来运来-在线算命-解梦-星座</title>
<link rel="stylesheet" type="text/css" href="__ROOT__/Public/css/css.css" />
  <script src="__ROOT__/Public/jquery/jquery-1.11.1.min.js" type="text/javascript"></script>
  <script src="__ROOT__/Public/js/main.js" type="text/javascript"></script>
</head>
<body id="body">
<div id="head" class="layout"><include file="./Layout:head"/></div>s
<div id="topmenu" class="layout"><include file="./Layout:topmenu"/></div>
<div id="bodydiv" class="layout">
<div id="left" class="layout"><include file="./Layout:left"/></div>
<div id="mid" class="layout">{__CONTENT__}</div>
<div id="right" class="layout"><include file="./Layout:right"/></div>
</div>
<div id="foot" class="layout"><include file="./Layout:foot"/></div>
</body>
</html>