<script type="text/javascript">
    /*主菜单鼠标经过的变化*/
    $(function () {
        $(".button").hover(
                function () {
                    $(this).addClass("hover");
                    $(this).removeClass("button")
                },
                function () {
                    $(this).removeClass("hover");
                    $(this).addClass("button");
                }
        )
    })

</script>
<table id="top_menu" align="center">

    <tr>
        <td class="top" id="top_menu_main"><a href="{:U('home/index/index')}"><button class="button" >网站首页</button></a></td>
        <td class="top" id="top_menu_1"><a href="{:U('home/ctsm/index')}"><button class="button">传统算命</button></a></td>
        <td class="top" id="top_menu_2"><a href="{:U('home/sxxzxx/index')}"><button class="button"> 生肖/星座/血型</button></a></td>
        <td class="top" id="top_menu_3"><a href="{:U('home/cqczjm/index')}" ><button class="button">抽签/测字/解梦</button></a></td>
        <td class="top" id="top_menu_4"><a href="{:U('home/qinglv/index')}" ><button class="button">恋爱指南</button></a></td>
        <td class="top" id="top_menu_5"><a href=" {:U('home/yuce/index')}"><button class="button">民俗预测</button></a></td>
        <td class="top" id="top_menu_x"><a href="index.php?g=home&m=yuce&a=index&sm=6"><button class="button">黄道吉日</button></a></td>
    </tr>

</table>
<hr/>