<table id="top_menu" align="center">
    <tr>
        <td class="top" id="top_menu_main"><a href="{:U('home/index/index')}">网站首页</a></td>
        <td class="top" id="top_menu_1"><a href="{:U('home/ctsm/index')}">传统算命</a></td>
        <td class="top" id="top_menu_2"><a href="{:U('home/sxxzxx/index')}"> 生肖/星座/血型</a></td>
        <td class="top" id="top_menu_3"><a href="{:U('home/cqczjm/index')}" >抽签/测字/解梦</a></td>
        <td class="top" id="top_menu_4"><a href="{:U('home/qinglv/index')}" >恋爱指南</a></td>
        <td class="top" id="top_menu_5"><a href=" {:U('home/yuce/index')}">民俗预测</a></td>
        <td class="top" id="top_menu_x"><a href="index.php?g=home&m=yuce&a=index&sm=6">黄道吉日</a></td>
    </tr>

</table>
<hr/>